<div>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="data" class="mat-elevation-z8" matSort matSortActive="createdOn" matSortDisableClear 
  matSortDirection="desc">
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Created On </th>
      <td mat-cell *matCellDef="let consumption"> {{consumption.createdOn}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let consumption"> {{consumption.product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="clubMember">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Club Member </th>
      <td mat-cell *matCellDef="let consumption"> {{consumption.clubMember.firstName}} {{consumption.clubMember.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let consumption">
        <img src="{{consumption.photoBase64Encoded}}" height="50" />
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let consumption">
        <button mat-raised-button (click)="indexFace(consumption)"> Index Face </button>
        <button mat-raised-button (click)="recognFace(consumption)"> Recogn Face </button>
      </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10]"></mat-paginator>
</div>