<mat-horizontal-stepper >
  <mat-step>
    <app-product-selector (productSelected)="onProductSelection($event)"></app-product-selector>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <app-club-member-selector (clubMemberSelected)="onClubMemberSelection($event)"></app-club-member-selector>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <div *ngIf="selectedFinalProduct">
      {{ selectedFinalProduct.id | uppercase }} {{selectedFinalProduct.name | uppercase }}
    </div>
    <div *ngIf="selectedFinalClubMember">
      {{ selectedFinalClubMember.id | uppercase }} {{ selectedFinalClubMember.firstName | uppercase }} {{ selectedFinalClubMember.lastName | uppercase }}
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onFinish()"> Ok </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<app-photo-capture (photo64BaseEncoded)="onPhotoCapture($event)"></app-photo-capture>
