.product-list {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.product-card {
  /* width: 100%; */
  /* height: 100%; */
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* .grid {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
  } */

.grid {
  display: grid;
  grid-auto-columns: minmax(125px, auto);
}

.grid-1 {
  justify-content: center;
  display: grid;
  background: #222;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 9em);
  /* padding: 10px */
}
