
<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item href="#">Order Drink</a>
      <a mat-list-item href="#">Tennis Court Reserve</a>
      <a mat-list-item href="#">Check Bar Consumption</a>
      <a mat-list-item href="#">Check Bar Debts</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="page-wrap" >
    <header role="banner" >
      // ! class="fixed-header"
      <mat-toolbar color="primary">
        <button
          type="button"
          mat-icon-button
          (click)="sidenav.open()"
          title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Q.L.T.C Self-service Bar & Tennis Court Reservation</span>
      </mat-toolbar>
    </header>
    <main class="content">
      <app-product-selector></app-product-selector>
      <!--<tapper-dashboard></tapper-dashboard>-->
     <!-- <router-outlet></router-outlet>-->
    </main>
    <footer >
      Your sticky footer with a variable height.
    </footer>
  </div>
</mat-sidenav-container>
