.page-container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
} 

.main{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}

bar-consumption {
  flex: 1;
  display: flex;
}

bar-consumption-list{
  flex: 1;
  display: flex;
}