<div style="background-color: rgb(133, 133, 192);display:flex; flex: 1 1 auto">
	<div style="display:flex; flex: 1 1 80%">
		<app-product-selector (productSelected)="onProductSelection($event)"></app-product-selector>
	</div>
	<div style="background-color: rgb(162, 162, 253);display:flex;flex: 1 1 19%; flex-direction: column">
		<app-photo-capture (photo64BaseEncoded)="onPhotoCapture($event)"></app-photo-capture>
		<app-club-member-selector (clubMemberSelected)="onClubMemberSelection($event)"></app-club-member-selector>
		<div *ngIf="selectedFinalProduct">
			{{ selectedFinalProduct.id | uppercase }} {{selectedFinalProduct.name | uppercase }}
		</div>
		<div *ngIf="selectedFinalClubMember">
			{{ selectedFinalClubMember.id | uppercase }} {{ selectedFinalClubMember.firstName | uppercase }} {{ selectedFinalClubMember.lastName
			| uppercase }}
		</div>
		<button mat-button (click)="onFinish()"> Ok </button>
	</div>
</div>